@import '../../styles/variables.scss';

.mainClock-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	// Unselectable Text
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	.timer-container {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 70%;
		// border: 1px solid red;
		width: 90%;
	}
	.upper-timer {
		margin-top: 5%;
		// transform: rotate(180deg);
	}

	.center-bar {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 50%;
		height: 200px;

		.menu-button {
			margin: 0px 20%;
			border: none;
		}
		.pause {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 50px;
			height: 50px;
			border-radius: 5px;
			background-color: rgb(22, 22, 22);
		}
	}

	.bottom-timer {
		margin-bottom: 5%;
	}
}
